In [ ]:
# -*- coding: utf-8 -*-
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or
# implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

# 10 Minutes to Pandas
Pandas documentation: https://pandas.pydata.org/pandas-docs/version/0.17.0/10min.html

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Series

In [ ]:
s = pd.Series([1,3,5,np.nan,6,8])
s

### DataFrame

In [ ]:
dates = pd.date_range('20130101', periods=6)
dates

In [ ]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df

### Creating a DataFrame by passing a dict of objects

In [ ]:
df2 = pd.DataFrame({ 'A' : 1.,
                     'B' : pd.Timestamp('20130102'),
                     'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                     'D' : np.array([3] * 4,dtype='int32'),
                     'E' : pd.Categorical(["test","train","test","train"]),
                     'F' : 'foo' })
df2

# Viewing data

In [ ]:
df2.dtypes

In [ ]:
df.head()

In [ ]:
df.tail(2)

In [ ]:
df.describe()

In [ ]:
df.index

# Transposing data

In [ ]:
df.T

# Data selection

**One column = Series**

In [ ]:
df['A']

**Slicing**

In [ ]:
df[0:3]

**Selection by label**

In [ ]:
df.loc[dates[0]]

In [ ]:
df.loc[:,['A','B']]

**Selection by Position**

In [ ]:
df.iloc[1,1]

In [ ]:
df.iloc[3:5,0:2]

**Boolean Indexing**

In [ ]:
df[df.A > 0]

In [ ]:
df[df > 0]

**Setting values by label**

In [ ]:
df.at[dates[0],'A'] = 0
df

# Missing Data

In [ ]:
df1 = df.reindex(index=dates[0:4], columns=list(df.columns) + ['E'])
df1

In [ ]:
df1.loc[dates[0]:dates[1],'E'] = 1
df1

In [ ]:
df1.dropna(how='any')

In [ ]:
df1.fillna(value=5)

**Boolean mask where values are NaN**

In [ ]:
pd.isnull(df1)

# Operations

In [ ]:
df.mean()

In [ ]:
df.mean(1)

### Applying functions to the data

In [ ]:
df.apply(np.cumsum)

In [ ]:
df.apply(lambda x: x.max() - x.min())

# Merging data

## Concat

In [ ]:
df = pd.DataFrame(np.random.randn(10, 4))
df

In [ ]:
pieces = [df[:3], df[3:7], df[7:]]
pieces

In [ ]:
pd.concat(pieces)

## Join

In [ ]:
left = pd.DataFrame({'key': ['foo', 'foo'], 'lval': [1, 2]})
left

In [ ]:
right = pd.DataFrame({'key': ['foo', 'foo'], 'rval': [4, 5]})
right

In [ ]:
pd.merge(left, right, on='key')

## Append

In [ ]:
df = pd.DataFrame(np.random.randn(8, 4), columns=['A','B','C','D'])
df

In [ ]:
s = df.iloc[3]
s

In [ ]:
df.append(s, ignore_index=True)

## Grouping

In [ ]:
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                          'foo', 'bar', 'foo', 'foo'],
                   'B' : ['one', 'one', 'two', 'three',
                          'two', 'two', 'one', 'three'],
                   'C' : np.random.randn(8),
                   'D' : np.random.randn(8)})
df

In [ ]:
df.groupby('A').sum()

In [ ]:
df.groupby(['A','B']).sum()

## Reshaping

### Stack

In [ ]:
tuples = list(zip(*[['bar', 'bar', 'baz', 'baz',
                     'foo', 'foo', 'qux', 'qux'],
                    ['one', 'two', 'one', 'two',
                     'one', 'two', 'one', 'two']]))
tuples

In [ ]:
index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])
index

In [ ]:
df = pd.DataFrame(np.random.randn(8, 2), index=index, columns=['A', 'B'])
df

In [ ]:
df2 = df[:4]
df2

In [ ]:
stacked = df2.stack()
stacked

**With a “stacked” DataFrame or Series (having a MultiIndex as the index), the inverse operation of stack() is unstack(), which by default unstacks the last level:**

In [ ]:
stacked.unstack()

### Pivot Tables

In [ ]:
df = pd.DataFrame({'A' : ['one', 'one', 'two', 'three'] * 3,
                   'B' : ['A', 'B', 'C'] * 4,
                   'C' : ['foo', 'foo', 'foo', 'bar', 'bar', 'bar'] * 2,
                   'D' : np.random.randn(12),
                   'E' : np.random.randn(12)})
df

In [ ]:
pd.pivot_table(df, values='D', index=['A', 'B'], columns=['C'])

# Time Series

In [ ]:
rng = pd.date_range('1/1/2012', periods=100, freq='S')
rng

In [ ]:
ts = pd.Series(np.random.randint(0, 500, len(rng)), index=rng)
ts

In [ ]:
ts.resample('5Min').sum()

In [ ]:
rng = pd.date_range('3/6/2012 00:00', periods=5, freq='D')
rng

In [ ]:
ts = pd.Series(np.random.randn(len(rng)), rng)
ts

In [ ]:
ts_utc = ts.tz_localize('UTC')
ts_utc

# Categoricals

In [ ]:
df = pd.DataFrame({"id":[1,2,3,4,5,6], "raw_grade":['a', 'b', 'b', 'a', 'a', 'e']})
df

In [ ]:
df["grade"] = df["raw_grade"].astype("category")
df["grade"]

In [ ]:
df["grade"].cat.categories = ["very good", "good", "very bad"]
df["grade"]

In [ ]:
df["grade"] = df["grade"].cat.set_categories(["very bad", "bad", "medium", "good", "very good"])
df["grade"]

In [ ]:
df.sort_values(by="grade")

In [ ]:
df.groupby("grade").size()

# Plotting

In [ ]:
ts = pd.Series(np.random.randn(1000), index=pd.date_range('1/1/2000', periods=1000))
ts

In [ ]:
ts = ts.cumsum()
ts

In [ ]:
ts.plot()

In [ ]:
df = pd.DataFrame(np.random.randn(1000, 4), index=ts.index,
                  columns=['A', 'B', 'C', 'D'])
df

In [ ]:
df = df.cumsum()
df

In [ ]:
plt.figure() 
df.plot() 
plt.legend(loc='best')

# 100-pandas-puzzles: Úlohy bez riešenia + s riešením 

**https://github.com/FIIT-IAU/100-pandas-puzzles**

(forked from https://github.com/ajcr/100-pandas-puzzles)

# Úlohy

V tejto časti váš čaká random dataset záznamov hrania hier. Jeden záznam pozozstáva [id_hráča, názov hry] ,ktorý nám hovorí, že hráč s id id_hráča sputil (v nejakom čase) danú hru.

In [ ]:
hry = ["AssassinsCreed", "Borderlands", "Crysis", "Doom", "Witcher"]
data = pd.DataFrame({"Hrac" : np.random.randint(5, size=(1, 20))[0],
                    "Hra" : np.random.choice(hry, size=(1, 20))[0]})              
data

Vašou úlohou je teraz vyfiltrovať iba hráčov, ktorí hrali Crysis. Akceptovaný je iba príkaz na jeden riadok.

In [ ]:
# Miesto pre váš kód

Teraz z pôvodných dát (Dataframe 'data') spočítajte koľko hráčov hralo jednotlivú hru (pre každú hru počet hráčov). Opäť sa akceptuje len jednoriadkový príkaz.

In [ ]:
# Miesto pre váš kód

Chcem sa pozrieť na jednotlivých hráčov, koľko krát hrali danú hru. Vytvorte novú tabuľku, kde riadky budú hráči, stĺpce budú hry a záznamy budú počty spustení hry hráčom.

In [ ]:
# Miesto pre váš kód

## Koronavírus!

V tejto úlohe máte priravené dve série dát. Prvá sú počet vykonaných testov a druhá počet denných prírastkov pozitívne testovaných osôb na Slovensku od 6. 3. 2020 so 26. 9. 2020. Vašou úlohou je teraz tieto dve série zobraziť na jednom grafe.

In [ ]:
testy = pd.Series([378, 66, 76, 69, 111, 97, 95, 58, 197, 289, 159, 318, 225, 301, 368, 440, 242, 451, 476, 335, 913, 747, 720, 401, 688, 877, 1191, 1454, 1889, 1524, 1036, 1448, 2042, 1690, 2301, 2174, 1580, 1324, 1302, 1439, 2967, 3351, 3144, 3323, 2458, 2694, 3468, 4525, 3840, 4828, 4839, 3171, 1767, 5472, 4584, 5150, 3698, 1450, 1584, 2060, 4742, 5161, 4694, 3910, 1488, 786, 2063, 4326, 4876, 3992, 4084, 2476, 971, 2041, 3371, 2933, 2751, 2236, 1649, 645, 1464, 2839, 2352, 1848, 3433, 1606, 274, 6418, 2336, 2135, 1832, 2639, 1180, 160, 851, 1545, 1500, 1262, 1511, 479, 47, 847, 1163, 787, 806, 1278, 301, 41, 661, 1257, 936, 1515, 1611, 931, 62, 784, 2063, 1708, 1801, 2216, 808, 50, 873, 2225, 2284, 2172, 2879, 960, 279, 1163, 2205, 2336, 1862, 2161, 410, 24, 3333, 2571, 2251, 2049, 2275, 767, 216, 1548, 2296, 1851, 2176, 2884, 585, 766, 1320, 2538, 2667, 2473, 3099, 1068, 564, 1454, 3131, 2741, 2738, 3235, 2013, 481, 1583, 3684, 3435, 3245, 3833, 1723, 929, 2103, 4090, 3636, 4360, 4453, 1951, 588, 2763, 2428, 3519, 4772, 5947, 2462, 922, 2891, 5309, 5021, 4266, 6191, 3080, 1425, 4323, 3235, 4027, 5542, 5750, 3443, 1952, 2664, 6231, 5213, 5540, 6483, 5655])
prirastky = pd.Series([1, 2, 2, 2, 0, 3, 11, 11, 12, 17, 11, 24, 8, 19, 14, 41, 7, 19, 12, 10, 43, 23, 22, 22, 27, 37, 26, 24, 21, 14, 49, 47, 101, 19, 14, 13, 14, 27, 66, 28, 114, 72, 40, 72, 12, 26, 45, 81, 35, 13, 6, 2, 3, 7, 5, 7, 4, 1, 5, 8, 8, 16, 10, 0, 2, 0, 8, 4, 8, 3, 13, 1, 1, 0, 1, 6, 1, 1, 5, 2, 2, 2, 5, 0, 1, 0, 1, 0, 3, 1, 0, 2, 0, 2, 1, 2, 8, 1, 3, 3, 4, 0, 9, 1, 14, 10, 1, 1, 1, 18, 23, 13, 14, 7, 1, 2, 20, 13, 20, 29, 15, 1, 2, 31, 53, 19, 23, 8, 1, 6, 19, 24, 14, 11, 3, 1, 41, 37, 31, 29, 23, 38, 2, 23, 41, 20, 27, 45, 7, 10, 14, 49, 63, 43, 43, 30, 3, 16, 75, 49, 62, 54, 47, 5, 15, 100, 80, 123, 91, 40, 68, 28, 84, 90, 102, 114, 34, 41, 72, 53, 121, 137, 226, 88, 22, 91, 161, 178, 186, 201, 79, 48, 188, 92, 161, 235, 290, 131, 79, 175, 338, 360, 419, 552, 478])

In [ ]:
# Miesto pre váš kód